@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#mainNavigation {
  display: flex;
  background-color: #270C3B;
  text-align: center;
}
#mainNavigation a {
  margin-right: 3rem;
}
.logo-image {
  width:5rem;
}
.navigation-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.modal-container {
  display: none;
  padding: 1rem 1rem;
  background-color:#270C3B;
  color: #fff;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
}

.content-modal{
  margin-top: 2rem;
  text-align: center;
}